body {
    margin: 0;
}
.form-container {
    margin: 10rem auto;
}

.align-right {
    margin-left: auto;
}

.menu {
    flex: auto;
    border-bottom: none;
}

.ant-menu-horizontal {
    margin-left: 5rem;
    margin-right: 5rem;
}

.remove-bottom-highlight:hover::after{
    border-bottom: none !important;
  }

.remove-bottom-highlight::after {
    border-bottom: none !important;
}

.remove-bottom-highlight::after:focus {
    border-bottom: none !important;
}

.content-container {
    margin: 1rem 5rem;
}

.carousel-img {
    object-fit: cover;
    position: relative;
}

.gradient-container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #1677ff 0%, #ffffff 68%);
    height: 50px;
    margin-bottom: 1rem;
}

.card-container {
    width: 200px;
    height: 300px;
}

.card-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
    object-fit: contain;
}

.col-container {
    margin-bottom: 1rem;
}

.category-item-container {
    margin-bottom: 1rem;
    display: inline-block;
    width: 200px;
    height: 300px;
}

.category-item-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.ant-menu-inline {
    border: none !important
}



